@import 'grid';
header {
	text-align: center;
}
h3 {
	text-align: center;	
}
#gamestart {
	input[type="text"], input[type="text"]+input {
		width: 100%;
	    display: block;
	    border: none;
	    height: 40px;
	    border-bottom: 1px solid #ccc;
	    margin: 0 0 5px;
	    padding: 0;
	    font-size: 16px;
	    &:focus{
		    outline: none;
		}
    }    
}
#gameplay {
	&.hide {
		display: none;
	}
	.select-shape {
		input[type="button"] {
			border: none;
			width: 30%;
		}
	}
}
#scoring-system {
	div {
		display: inline-block;
		width: 45%;
		text-align: center;	
		h4 {
			margin: 0;
			padding: 0;
		}
		span {
			display: block;
			background-color: black;
			color: yellow;
		}
	}
}
.destroy {
	opacity: 0;
	transition: visibility 0s, opacity 0.5s linear;
	display: none;
}
.shapeFormed {
	display: block;
	&.rock {
		background-image: url('../img/rock.png');
	}
	&.paper {
		background-image: url('../img/paper.png');	
	}
	&.scissor {
		background-image: url('../img/scissor.png');
	}
}
