@import 'grid';
body {
	background-color: #faf8ef;
}
input[type="submit"] {
	background-color: #8f7a66;
	color: #f9f6f2;
	padding: 15px;
    margin-left: 5px;
    margin-bottom: 6px;
}
header {
	text-align: center;
	h2 {
		display: block;
	    text-indent: -999px;
	    line-height: 180px;
	    overflow: hidden;
	    background-image: url(../img/logo.png);
	    background-size: contain;
	    background-repeat: no-repeat;
	    background-color: transparent;
	    background-position: center;
	    text-align: center;
		transition: all 5s ease-in-out;
	}
}
h3 {
	text-align: center;	
}
#gamestart {
	input {
		width: 100%;
	    display: block;
	    border: none;
	    height: 40px;
	    border-bottom: 1px solid #ccc;
	    margin: 0 0 5px;
	    padding: 0;
	    font-size: 16px;
	    &[type="text"] {
	    	text-indent: 10px;
	    }
	    &:focus{
		    outline: none;
		}
    }    
}
#gameplay {
	&.hide {
		display: none;
	}
	.select-shape {
		margin: 0 auto;
		input[type="submit"] {
			border: none;
		    width: 90px;
		    text-transform: uppercase;
		    font-weight: bold;
		    font-size: 12px;
		    padding: 15px;
		    margin: 0 1px 3 5px;		    
		}
	}
	.human, .computer {
		background-color: white;
		height: 115px;		
	}
}
#scoring-system {
	div {
		display: inline-block;
		width: 45%;
		text-align: center;
		h4 {
			margin: 0;
			padding: 0;
		}
		span {
			display: block;
			background-color: black;
			color: yellow;
		}
	}
}
.destroy {
	opacity: 0;
	transition: visibility 0s, opacity 0.5s linear;
	display: none;
}
.shapeFormed {
	display: block;
	&.rock {
		background-image: url('../img/rock.png');
	}
	&.paper {
		background-image: url('../img/paper.png');	
	}
	&.scissor {
		background-image: url('../img/scissor.png');
	}
}
#popup {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
	&.show {
		visibility: visible;
		opacity: initial;
	}
	.message {
		margin: 70px auto;
		padding: 20px;
		background: #fff;
		border-radius: 5px;
		width: 30%;
		position: relative;
		transition: all 5s ease-in-out;
	}
}
#results {
	margin-top: 20px;
	overflow-y: scroll;
	div {
		text-align: center;
		border-bottom: 3px solid #bbada0;
		padding: 5px;
		width: 360px;
		margin-top: 2px;		
		color: #776E65;
		font-weight: bold;
		text-transform: uppercase;
		transition: all 5s ease-in-out;
	}
	span {
		font-size: 10px;
		margin: 0 10px;	
		background-color: #bbada0;
		color: #776E65;
	}
}
#gameplay-result {
	margin-top: 20px;
	.scissor {
		background-image: url('../img/scissor.png');
		display: block;
		width: 100%;
		height: 200px;
		background-size: contain;
	    background-repeat: no-repeat;
	    background-position-y: bottom;
	    background-position-x: center;
	}
	.paper {
		background-image: url('../img/paper.png');
		display: block;
		width: 100%;
		height: 200px;
		background-size: contain;
	    background-repeat: no-repeat;
	    background-position-y: bottom;
	    background-position-x: center;
	}
	.rock {
		background-image: url('../img/rock.png');
		display: block;
		width: 100%;
		height: 200px;
		background-size: contain;
	    background-repeat: no-repeat;
	    background-position-y: bottom;
	    background-position-x: center;
	}
}
